API_TOKEN=change-me
CHROME_EXECUTABLE=/opt/google/chrome/google-chrome
CHROME_CDP_URL=http://127.0.0.1:9222
PROFILE_SOURCE_DIR=/home/pierone/.config/google-chrome
PROFILE_WORK_DIR=/home/pierone/Pyt/imageendopint/.cache/google-chrome-headless
COOKIE_JAR_PATH=/home/pierone/Download/cookies.txt
STORAGE_STATE_PATH=/home/pierone/Pyt/imageendopint/outputs/flow-storage-state.json
HEADLESS=true
HOST=0.0.0.0
PORT=8000
PROJECT_URL_TEMPLATE=https://labs.google/fx/tools/flow/project/{project_id}
